.header {
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    @include border-box;
    z-index: 99;
    @include transition;
}
.brand {
    fill: white;
    max-width: 200px;
    @include transition;
}
.fixed-header {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background: white;
    .brand {
        fill: $brand-primary;
    }
    .toggle {
        margin-top: 5px;
    }
}

// 768px
@media all and (min-width: $screen-portrait) {
    .header {
        // BLUE
        &.blue {
            .navbar-only {
                ul > li > a {
                    color: white;
                }
                .sub-menu {
                    > li > a {
                        color: $gray-dark;
                    }
                }
            }
            .destacado {
                a {
                    background: white;
                    color: $brand-primary!important;
                    &:hover {
                        background: darken($brand-secondary, 15%);
                        color: white!important;
                    }
                }
            }
            .english {
                color: white;
            }
        }
        // GREEN
        &.green {
            .brand {
                fill: $brand-primary;
            }
            .navbar-only {
                ul > li > a {
                    color: $brand-primary;
                }
                .sub-menu {
                    > li > a {
                        color: $gray-dark;
                    }
                }
            }
            .destacado {
                a {
                    background: $brand-secondary;
                    color: white!important;
                    &:hover {
                        background: darken($brand-secondary, 15%);
                        color: white!important;
                    }
                }
            }
            .english {
                color: white;
            }
        }
        &.fixed-header {
            .navbar-only {
                ul > li > a {
                    color: $brand-primary;
                }
            }
            .destacado {
                a {
                    background: $brand-secondary;
                    color: white!important;
                    &:hover {
                        background: darken($brand-secondary, 15%);
                        color: white!important;
                    }
                }
            }
            .english {
                color: $brand-primary;
            }
        }
    }
}

// 992px
@media all and (min-width: $screen-landscape) {
    
}

// 1200px
@media all and (min-width: $screen-desktop) {
}