.hero {
    padding: 100px 0 60px 0;
    background: $brand-primary;
    position: relative;
    h1 {
        color: white;
        padding-left: 100px;
    }
    .medio-circulo,
    .circulo,
    .circulo-border {
        position: absolute;
        left: -10px;
        top: 30%;
        width: 100px;
        z-index: 10;
    }
    .medio-circulo {
        path {
            fill: $brand-secondary;
        }
    }
    .segundo-circulo {
        display: none;
        width: 350px;
        top: -240px;
        right: 0;
        position: absolute;
        z-index: 10;
        circle {
            fill: $brand-secondary;
        }
    }
    .circulo {
        width: 85px;
        z-index: 9;
        top: 24%;
        left: 0px;
        circle {
            fill: white;
        }
    }
    .circulo-border {
        z-index: 8;
        width: 60px;
        top: 70%;
        left: 20px;
        circle {
            fill:none;
            stroke: $brand-secondary;
            stroke-width: 0.7364;
            stroke-miterlimit: 10;
        }
    }
    .cuadrado {
        fill:none;
        stroke:#425ba9;
        stroke-miterlimit:10;
        stroke-width:0.37px;
        z-index: 8;
        width: 60px;
        bottom: -30px;
        right: 5%;
        position: absolute;
        display: none;
    }
}
.hero-green {
    @extend .hero;
    background: $brand-secondary;
    .medio-circulo {
        path {
            fill: $brand-primary;
        }
    }
    .segundo-circulo {
        circle {
            fill: white;
        }
    }
}
.hero-gray {
    @extend .hero;
    background: $gray-light;
    h1 {
        color: $brand-primary;
    }
    .medio-circulo {
        path {
            fill: $brand-primary;
        }
    }
    .segundo-circulo {
        circle {
            fill: white;
        }
    }
}
// 768px
@media all and (min-width: $screen-portrait) {
    .hero {
        padding: 120px 0 80px 0;
    }
    .hero {
        h1 {
            padding-left: 0;
            text-align: center;
            max-width: 70%;
            @include center;
        }
    }
}

// 992px
@media all and (min-width: $screen-landscape) {
    .hero {
        .cuadrado,
        .segundo-circulo {
            display: block;
        }
        .medio-circulo {
            width: 120px;
            top: 60%;
        }
        .circulo {
            width: 120px;
            top: 50%;
            left: 30px;
        }
        .circulo-border {
            z-index: 10;
            left: 80px;
        }
    }
}

// 1200px
@media all and (min-width: $screen-desktop) {
    
}