html {
	font-family: $primary-font;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	@include border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.gris {
	color: $gray-dark;
}
.center {
	text-align: center;
}
.brand-primary {
	color: $brand-primary;
}
.brand-secondary {
	color: $brand-secondary;
}
.only-desktop {
	display: none;
}
.padding-bottom {
	padding-bottom: 60px;
}
.margin-top-mobile {
	margin-top: 30px;
}
// 768px
@media all and (min-width: $screen-portrait) {
	.container {
		@include center;
		max-width: 750px;
	}
	.margin-top-mobile {
		margin-top: 0;
	}
	.only-desktop {
		display: block;
	}
	.only-mobile {
		display: none;
	}
}

// 992px
@media all and (min-width: $screen-landscape) {
	.container {
		max-width: 970px;
	}
}

// 1200px
@media all and (min-width: $screen-desktop) {
	.container {
		max-width: 1170px;
	}
}
