$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;

$brand-primary        : #2045f4;
$brand-secondary      : #01e399;

$primary-font         : 'Inter', sans-serif;
$secondary-font       : 'Poppins', sans-serif;
$tertiary-font        : 'Sora', sans-serif;

$gray-light           : #f4f4f4;
$gray                 : #AAA;
$gray-dark            : #333;

$font-color           : $gray-dark;
