$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;

$brand-primary        : green;
$brand-secondary      : blue;

$primary-font         : Tahoma, arial, sans-serif;
$secondary-font       : Georgia, serif;

$gray-light           : #f4f4f4;
$gray                 : #AAA;
$gray-dark            : #282828;

$font-color           : #5a5c62;
